<div class="row mt-4">
  <%= render "products/filtering" %>
  <div class="col-12 col-lg-9">
    <%= turbo_frame_tag "products_display" do %>
      <% render "products/show", products: @products %>
    <% end %>
    <%= paginate @products %>
  </div>
</div>